.img {
    width: 100%;
    height: 650px;
    background-image: url('./img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.write {
    text-align: center;
    color: white;
    position: relative;
    top: 20%;
}
